# --------------------------------------
# mac
# --------------------------------------
**/.DS_Store

# --------------------------------------
# goland
# --------------------------------------
.idea/

# --------------------------------------
# project
# --------------------------------------
_bin/

# --------------------------------------
# test
# --------------------------------------
docktool/
**/filegen.tmpl
**/filegen.in.json
**/filegen.in.yaml
**/filegen.in.yml
**/filegen.in.toml
