# --------------------------------------
# mac
# --------------------------------------
**/.DS_Store

# --------------------------------------
# goland
# --------------------------------------
.idea/

# --------------------------------------
# project
# --------------------------------------
_dist/
